<!DOCTYPE html>
<html>
<head>
  <title>CompanyCompanion</title>
  <%= stylesheet_link_tag    "client_main", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "client_main", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "client/shared/navbar" %>

  <%= yield %>

</body>
</html>
